* {
  position: relative;
  
}

.colorA {
  color: #F09086;
}

.colorB {
  color: #93A5D2;
}

.colorC {
  color: #6CACF0;
}



.container {
  padding: 0px;
  background-size: 60%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  max-width: 1024px;
  font-size: 0px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  text-align: center;

}

.button > a {
  text-align: center;
  font-size: 25px;
  width: 100px;
  height: 50px;
  color: #707177;
  font-weight: bold;
}

hr {
  border-top: solid 4px;
  color: #707177;
  width: 70%;
  top: -70px;
}

.title {
  width: 100%;
  font-size: 45px;
  color: #707177;
  font-weight: 900;
  top: 70px;
  margin-bottom: 100px;
}

.border{ 
    text-align: center;
    border-radius: 25px;
	left: 38%;
	width: 270px;
	border: solid 3px #707177;
}

.room {
  box-sizing: border-box;
  display: inline-block;
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 90px;
  background-color: #707177;
}

.menu {
  padding: 0;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  top: -20px;
}

.menu > li {
  top: 20px;	
  font-size: 20px;
  display: inline-block;
  left: 20%;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
  padding-left: 6px;
}

a:hover {
  color: #333333;
  text-decoration: none;
}

.icon {
  width: 30%;
  min-width: 200px;
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
}

.icon2 {
  top: 20px;	
  left: -40%;
  width: 200px;
  min-width: 150px;
}

.banner {
  height: initial;
  background-image: url("http://i.imgur.com/xakrNxc.png");
}

.icon {
  width: 100%;
  min-width: 200px;
}

.banner {
  width: 100%;
}


li {
  padding: 2px;
}

.textin {
  color: #707177; 	
  font-weight: bold;	
  font-size: 20px;
  text-align: left;
  width: 100%;
  padding: 50px;
}

.textin > p{	
	padding: 3px;
}

.text {
  margin-top: 30px;	
  font-size: 20px;
  text-align: left;
  padding: 5px;
  width: 100%;
}


.text > h1 {
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

table {
  left: 10%;	
  margin-top: 50px;	
  font-size: 15px;
  color: #333333;
  border-collapse: collapse;
  width:70%;
}

td, th {
  border: 1px solid white;
  text-align: center;
  padding: 8px;
}

th {
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: #F09086;
  color: white;
}

ul {
  color: #707177;
  text-align: left;
  top:10px;
  left: 2%;
}

.text > ul {
  left: 4%;
}

li {
  padding: 2px;
}

.photo {
  left: 5%;	
  display: inline-block;
  margin: 10px;
  height: 300px;
  border: solid 10px #F09086;
  width: 450px;
  overflow:hidden;
}

.group:hover{
-webkit-filter:brightness(.5);
}

.colorAb {
  border: solid 8px #F09086;
}

.colorBb {
  border: solid 8px #93A5D2;
}

.colorCb {
  border: solid 8px #6CACF0;
}

.call {
  transform:scaleX(-1);	
  height: 150px;
  width: 150px;
  position: fixed;
  bottom: 2%;
  right: 3%;
  transition-duration: 1s;
  opacity: 0;
  display: none; 
}

.call:hover {
	cursor: pointer;

}

 .index{
	 display: none;
 }
 
 .number{
	 height: 200px;
	 width: 200px;
	 position: fixed;
	 transition-duration: 0.5s;
	 opacity: 0;
	 bottom: 6%;
	 right: 33%;
	 display: none; 

 }
 
 .visible{
	display: initial; 
	opacity: 1;
}

.group {
 left: -5px;
transition-duration:0.5s; 

	
}

#Barside {
	display: none; 
}

#p {
  left: 45%;	
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 10px;
  
}

@media screen and (max-width: 1000px) {
	
	
	.banner {
	  top:150px;
	}
	
	.container {
		top:150px;
		width: 80%;
}	
	
ul {

  left: 0%;
}	

.text > li{
	letter-spacing: 10px;	
}
	
	
	.border{ 
	left: 37%;
}
	
	.nav {
	  position: fixed;
	  top: 0px;
	  width: 100%;
	  height: 150px;
	  background-color: #707177;
	}
	*{
		font-size: 1.5rem;
	}
	
  .icon2 {
  position:relative;	  
  transform:scale(1.5,1.5);	  
  top: 40px;	  
  left: 50px;	  	  
  width: 400px;
  min-width: 150px;
}	


  .menu{
	position: relative;  
    
  }
  
   .menu > li{
	top: 50px;   
	display: none; 
  }
	
  .call {
  transform:scale(-1.5,1.5);  
  bottom: 4%;
  right: 10%;
  }
  
  .menu > li {
    left: 8%;
  }

  .icon2 {
    left: -90%;
    width: 200px;
    min-width: 150px;
  }

  .text {
    width: 100%;
	margin-bottom: 20px;
  }
  
    .text > p {
	padding: 5px;
  }

  .photo {
	left:30px;  
	height: 200px;  
    width: 300px;
  }

  .container {
    background-size: 90%;
  }
  
  
  table {
  left: 10px;	  
  width: 100%;
  }
  
  .button > a{
	  font-size: 80px;
  }
  
  .index{
	display: initial;  
	transform: scale(1.5,1.5);  
	position: absolute;
	right: -70%;
	top: 33%;
	cursor: pointer;
	height: 20px;
	width: 20px;

}
  
  .navside{
  
  letter-spacing: 5px;
  position: fixed;
  height: 480px;
  width: 100%;
  top: -620px;
  background-color: #707177;
  color: white;
  box-shadow: 0px 4px 15px #333;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  }
  
  #Barside {
	  display: initial;
  }  
  
  #Barside > li{
	  font-weight: bold;
	  border-bottom: solid 5px white;
	  font-size: 50px;
	  padding: 20px;
  }
  
   .number{
	 display: none; 

 }
 .barside > a{
	padding:10px;
	font-size:2rem;

}
.border {
	left:34%;
	border-width:8px;
	width:300px;
	font-weight:900;
	font-size: 2rem;
}
  
}

.flip-in-ver-right {
  -webkit-animation: flip-in-ver-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-ver-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2017-7-21 20:33:13
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flip-in-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotateY(-40);
    transform: rotateY(-40);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}


