#banner.block.banner
  img.icon(src="http://i.imgur.com/8G5JZJp.png").flip-in-ver-right 
.container
  .room   
    .Room.seriea 
      .title 套房資訊
      .serienameA
          h1.w A 
          h4.w 時尚套房
          hr
      table.colorA
        tr
          th
          th 平日
          th 假日
          th 定價
        tr
          td 時尚雙人套房
          td NTD 1,600
          td NTD 1,800
          td NTD 2,500
        tr
          td 包棟(可住 26 人)
          td NTD 15,000
          td NTD 18,000
          td
        tr
          td 加床
          td NTD 400/人
          td NTD 600/人
          td NTD 600/人
      
      ul
        li 星期日-星期四，非連續假日及國定假日前一日除外。(不含早餐)
        li 包棟不含早餐
        li 平日：週日~週四
        li 假日：週五、週六、連續假日、國定假日前一日、寒暑假
        li 定價：農曆春節期間
        
    .Room.text.colorA
      h2 A1.雙人套房
      ul.colorA
       li 獨立套房、衛浴設施 / 吹風機
       li 附盥洗用具 / 浴巾 / 毛巾
       li 42吋液晶電視 / 有線頻道/ 60M寬頻
       li 進口獨立筒名床
       li 羽絲絨枕 / 羽絲絨被
       li 咖啡包 / 茶包 / 礦泉水/ 熱水壺     
    .Room.photo.colorAb   
    .Room.text.colorA
      h2 A2.雙人套房
      ul.colorA
       li 獨立套房、衛浴設施 / 吹風機
       li 附盥洗用具 / 浴巾 / 毛巾
       li 42吋液晶電視 / 有線頻道/ 60M寬頻
       li 進口獨立筒名床
       li 羽絲絨枕 / 羽絲絨被
       li 咖啡包 / 茶包 / 礦泉水/ 熱水壺  
    .Room.photo.colorAb 
    .Room.text.colorA
      h2 A3.雙人套房
      ul.colorA
       li 獨立套房、衛浴設施 / 吹風機
       li 附盥洗用具 / 浴巾 / 毛巾
       li 42吋液晶電視 / 有線頻道/ 60M寬頻
       li 進口獨立筒名床
       li 羽絲絨枕 / 羽絲絨被
       li 咖啡包 / 茶包 / 礦泉水/ 熱水壺  
    .Room.photo.colorAb 
    hr
    .Room.serie 
     .serienameB
        h1.w B 
        h4.w 浪漫套房
        hr
     table.colorB
      tr
        th
        th 平日
        th 假日
        th 定價
      tr
        td 浪漫雙人套房
        td NTD 1,800
        td NTD 2,200
        td NTD 3,000
      tr
        td 包棟(可住 26 人)
        td NTD 15,000
        td NTD 18,000
        td
      tr
        td 加床
        td NTD 400/人
        td NTD 600/人
        td NTD 600/人

     ul
      li 星期日-星期四，非連續假日及國定假日前一日除外。(不含早餐)
      li 包棟不含早餐
      li 平日：週日~週四
      li 假日：週五、週六、連續假日、國定假日前一日、寒暑假
      li 定價：農曆春節期間
    
    .Room.text.colorB
      h2 B1.雙人套房
      ul.colorB
       li 獨立套房、衛浴設施 / 吹風機
       li 附盥洗用具 / 浴巾 / 毛巾
       li 42吋液晶電視 / 有線頻道/ 60M寬頻
       li 進口獨立筒名床
       li 羽絲絨枕 / 羽絲絨被
       li 咖啡包 / 茶包 / 礦泉水/ 熱水壺  
    .Room.photo.colorBb
    .Room.text.colorB
      h2 B2.雙人套房
      ul.colorB
       li 獨立套房、衛浴設施 / 吹風機
       li 附盥洗用具 / 浴巾 / 毛巾
       li 42吋液晶電視 / 有線頻道/ 60M寬頻
       li 進口獨立筒名床
       li 羽絲絨枕 / 羽絲絨被
       li 咖啡包 / 茶包 / 礦泉水/ 熱水壺  
    .Room.photo.colorBb 
    .Room.text.colorB
      h2 B3.雙人套房
      ul.colorB
       li 獨立套房、衛浴設施 / 吹風機
       li 附盥洗用具 / 浴巾 / 毛巾
       li 42吋液晶電視 / 有線頻道/ 60M寬頻
       li 進口獨立筒名床
       li 羽絲絨枕 / 羽絲絨被
       li 咖啡包 / 茶包 / 礦泉水/ 熱水壺  
    .Room.photo.colorBb 
    hr
    .Room.serie 
     .serienameC
        h1.w C 
        h4.w 現代．親子．微笑套房
        hr
     table.colorC
      tr
        th
        th 平日
        th 假日
        th 定價
      tr
        td 現代．親子套房
        td NTD 2,800
        td NTD 3,400
        td NTD 4,500
      tr
        td 微笑套房
        td NTD 2,200
        td NTD 2,600
        td NTD 3,700  
      tr
        td 包棟(可住 26 人)
        td NTD 15,000
        td NTD 18,000
        td
      tr
        td 加床
        td NTD 400/人
        td NTD 600/人
        td NTD 600/人

     ul
      li 星期日-星期四，非連續假日及國定假日前一日除外。(不含早餐)
      li 包棟不含早餐
      li 平日：週日~週四
      li 假日：週五、週六、連續假日、國定假日前一日、寒暑假
      li 定價：農曆春節期間
    
    .Room.text.colorC
      h2 C1.親子四人套房
      ul.colorC
       li 獨立套房、衛浴設施 / 吹風機
       li 附盥洗用具 / 浴巾 / 毛巾
       li 42吋液晶電視 / 有線頻道/ 60M寬頻
       li 進口獨立筒名床
       li 羽絲絨枕 / 羽絲絨被
       li 咖啡包 / 茶包 / 礦泉水/ 熱水壺  
    .Room.photo.colorCb
    .Room.text.colorC
      h2 C2.現代四人套房
      ul.colorC
       li 獨立套房、衛浴設施 / 吹風機
       li 附盥洗用具 / 浴巾 / 毛巾
       li 42吋液晶電視 / 有線頻道/ 60M寬頻
       li 進口獨立筒名床
       li 羽絲絨枕 / 羽絲絨被
       li 咖啡包 / 茶包 / 礦泉水/ 熱水壺  
    .Room.photo.colorCb 
    .Room.text.colorC
      h2 C3.微笑雙人套房
      ul.colorC
       li 獨立套房、衛浴設施 / 吹風機
       li 附盥洗用具 / 浴巾 / 毛巾
       li 42吋液晶電視 / 有線頻道/ 60M寬頻
       li 進口獨立筒名床
       li 羽絲絨枕 / 羽絲絨被
       li 咖啡包 / 茶包 / 礦泉水/ 熱水壺  
    .Room.photo.colorCb 
    .Room.text.colorC
      h2 C5.現代四人套房
      ul.colorC
       li 獨立套房、衛浴設施 / 吹風機
       li 附盥洗用具 / 浴巾 / 毛巾
       li 42吋液晶電視 / 有線頻道/ 60M寬頻
       li 進口獨立筒名床
       li 羽絲絨枕 / 羽絲絨被
       li 咖啡包 / 茶包 / 礦泉水/ 熱水壺  
    .Room.photo 
    .button
      a(href="#banner") TOP
.nav
 .menu
  img.icon2(src="http://i.imgur.com/UuIIDPw.png")
  li 
    a(href="https://fatmylin.github.io/resume/aboutme.html") 關於微笑 
  li 
    a(href="https://fatmylin.github.io/resume/aboutme.html") 套房資訊
  li 
    a(href="https://fatmylin.github.io/resume/aboutme.html") 活動參與
  li 
    a(href="https://fatmylin.github.io/resume/aboutme.html") 鄰近景點